# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Shameers Plugins (Ignore these)
.idea/discord.xml
.idea/misc.xml